.git
.gitignore

__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

.vscode
.idea
*.swp
*.swo
*~

data/mail/*
data/fts/*
data/logs/*

*.md

docker-compose.yml
.dockerignore

config/*.yaml
config/accounts/*.yaml
